div.access-error{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="tel"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-submit {
  margin-top: 20px;
}

div.form-submit>button[type="submit"] {
  background-color: #008803;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
 
}

li{
   list-style: none;
}

body{
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.no-scroll{
  height: 100vh;
  overflow:hidden ;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 2px black;
  min-height: 63px;
}

a.cart{
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 10px 10px;
  cursor: pointer;
  position: relative;
}

a.cart>p{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -10px;
    right: 0px;
    font-size: 18px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #3e8e41;
    color: white;
}

div.sidenav{
  width: 100%;
  max-height: 100vh;
  display: flex;


}

div.wrapper{
  display: flex;

}

div.wrapper#sidebar-active>a{
display: none;
}
div.sidebar{
    display:flex;
    width: 100%;
    position: fixed;
    background-image: transparent;
    left: 0px;
    top: 0px;
    z-index: 4;
    transition: 0.2s;
    height: 100vh;
  backdrop-filter: brightness(90%);


}


div.category{
  width: 50%;
  display: flex;
  overflow-y: scroll;
  background-color: black;
  padding-bottom:20px;
}

div.category::-webkit-scrollbar{
display: none;
}

div.invisible_section>h1{
display: inline;
  cursor: pointer;
  padding: 10px;
}

.category_header{
  color: white;
  width: 100%;
  text-align: center;
  font-family:"Montserrat Alternates", sans-serif ;
}

div.category>form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  background:black;
  padding: 20px;
  height: 100vh;

}

div.category>form>button{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0px;
background-color: inherit;
}

div.category>form>button>a{
display: flex;
  background-color: white;
  border-radius: 4px;
  text-align: start;
  width: 70%;
  height: 100%;
  padding: 10px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

div.invisible_section{
  width: 50%;
  cursor: pointer;
  text-align: start;
}

.x-shape {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0px 0px 0px 30px;
}
.x-shape::before,
.x-shape::after {
  content: '';
  position: absolute;
  top: 20px;

  width: 5px;
  height: 70%;
  background-color: black;
}
.x-shape::before {
  transform: rotate(45deg);
}
.x-shape::after {
  transform: rotate(-45deg);
}

#collapsed>.x-shape::before {
height: 0%;
transition: 0.1s;
}

#collapsed>.x-shape::after {
  height: 0%;
  transition: 0.1s;
  }

  #expanded>.x-shape::before {
    height: 70%;
    transition: 0.1s;
    transition-delay: 0.1s;
    }
    
    #expanded>.x-shape::after {
      height: 70%;
      transition: 0.1s;
      transition-delay: 0.1s;
      }

#inactive{
 left: -100vw;
}

.sidenav_toggle{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.sidenav_toggle>span:nth-of-type(1){
  width: 50px;
  height: 5px;
  background-color: black;
  transition: 0.1s;
}

.sidenav_toggle>span:nth-of-type(2){
  width: 50px;
  height: 5px;
  background-color: black;
  transition: 0.07s;
}

.sidenav_toggle>span:nth-of-type(3){
  width: 50px;
  height: 5px;
  background-color: black;
  transition: 0.05s;
}

#toggle-on>span:nth-of-type(1){
  width: 0px;
  transition: 0.1s;
}

#toggle-on>span:nth-of-type(2){
  width: 0px;
  transition: 0.07s;
}

#toggle-on>span:nth-of-type(3){
  width: 0px;
  transition: 0.05s;
}


.brand>img{
  width: 63px;
  height: 63px;
}


form.search{
  top: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
  height: 100vh;
  text-align: end;
 background-color: rgba(0,0,0,0.5);
    transition:0.3s ;
    z-index: 2;
}

#active-search, #overlay_active{
  display: block;
  transition:0.3s ;
}

#overlay_active{
  z-index: 1;
  transition:0.3s ;

}

#inactive-search, #overlay_inactive{
  display: none;
}

form.search>div{
  position: absolute;
  top: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  right: 10px;
  gap: 10px;
  width:300px ;
  background-color: white;
  box-shadow: 2px 2px 4px grey;
  padding-right: 10px;
  border-radius: 4px;
  z-index: 10;
}

form.search>div>input{
  border: 0px;
  background-color: white;
  height: 30px;
  width: 250px;
  outline:none ;
  padding: 0px 10px;
  z-index: 10;
}

form.search>div>button{
  border: 0px;
  background-color: transparent;
  height: 30px;
  padding-top: 5px;
  z-index: 10;
}




/* index style starts */
header.index-header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header.index-header, div.background{
  
  min-width: 100vw;
  height: 95vh;
  display: flex;
  color: white;
}
header.index-header>h4 {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

header.index-header>h2{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
}




div.background{
  filter: brightness(0.4);
  background-color: #a0533d;
  position: absolute;
  z-index: -1;
}

div.background>img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: top center;
animation: fadein 0.5s forwards;

}

main, section.new{
  margin-top: 80px;
position: relative;
}



.section-header{
  font-family: "Funnel Display", sans-serif;
  width: 100%;
  text-align: center;
}

.card-container, .new-card-container{
  display: flex;
  flex-direction: row;
  align-items: start;

  padding: 10px;
  width: 100%;
  overflow-x: scroll;
  gap: 20px;
  scroll-behavior: smooth;
  margin-bottom: 0px;
  
}



.card-container::-webkit-scrollbar, .new-card-container::-webkit-scrollbar{
display: none;
}

.card{
  max-width: 400px;
  min-width: 400px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
position: relative;
}

.card-description{
  font-size: 18px;
  width: 100%;
  line-height: 25px;
  max-height: 50px;
  text-overflow: ellipsis;
  overflow-y: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

a.card-wrapper{
  text-decoration: none;
  color: black;

}

.card-image{
  width: 350px;
  border-radius: 8px;
  aspect-ratio: 1/1;
  filter: brightness(0.5);
}

button.card-button{
width: 100%;
border: 0px;
outline: 0px;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
}
a.view-all{
  width: 200px;
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  font-family:"Montserrat Alternates", sans-serif ;
  font-weight: 600;
}

#new-image{
  filter: brightness(1);
}

.card-overlay{
position: absolute;
color: white;
width:90% ;
font-size: 18px;
font-weight: bold;
text-align: center;
top: 25%;
font-family:"Montserrat Alternates", sans-serif ;

}

.scroll-controller{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  top: 45%;
}

#right,#left,#new-left, #new-right,#testimony-right,#testimony-left{
  width: 50px;
  height: 50px;
  border: 0px;
  background-color: black;
  color: white;
outline: 0px;
border-radius:50% ;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
}

#right>svg,#left>svg,#new-left>svg, #new-right>svg,#testimony-right>svg, #testimony-left>svg{
  width: 40px;
  height: 40px;
}

#right,#new-right,#testimony-right{
  right: 3px;
}

#left,#new-left,#testimony-left{
  left: 3px;
}

ul.products-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  padding: 10px;
  width: 100%;
  gap: 20px;
  scroll-behavior: smooth;
  margin-bottom: 0px;
}


section.testimonies{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;

  background-color: black;
  color: white;
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family:"Montserrat Alternates", sans-serif ;
}

ul.testimonies-wrapper{
  display: flex;
  overflow-x: scroll;
  width: 100%;
  min-height: 100%;
padding: 30px;
gap: 30px;
scroll-behavior: smooth;

}

ul.testimonies-wrapper::-webkit-scrollbar{
  display: none;
}

li.testimony{
  display: flex;
  flex-direction: column;
  min-height: 35vh;
  max-width: 400px;
  background-color: white;
  color: black;
  min-width: 400px;
  padding: 30px;
  gap: 20px;
  border-radius: 12px;
  line-height: 50px;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}

li.testimony>h4{
  line-height: 35px;
}

section.testimonies>.scroll-controller{
  top: 85%;
}


#testimony-right,#testimony-left{
  background: transparent;
}



        li.single-product{
            display:flex;
            width:100%;
            justify-content:center;
            align-items:center;
            gap:30px;
            height:95vh;
            font-size:20px;
            margin-bottom: 40px;
        }

         li.single-product>img{
            width:45%;
         }

        form.product-form{
            display:flex;
            gap:10px;
            display: flex;
            flex-direction: column;
        }

        form.product-form>div{
          width: 100%;
          display: flex;
        }

        div

        .product-form>button{
            padding:10px;
            border:0px;
            color:white;
            background:black;
            border-radius:8px;
                        font-size:20px;
        }

        .product-form>div>fieldset>input{
            padding:10px;
            border:1px solid black;
            color:black;
            background:white;
            border-radius:8px;
            width:70%;
            text-align:center;
                        font-size:20px;
        }

        div.prod{
            display:flex;
            flex-direction:column;
            gap:10px;
            width: 45%;
        }

        input#size{
          width: 30px;
          height: 30px;
          margin-right: 5px;
          margin-left: 10px;
          
        }

        fieldset{
          display: flex;
          justify-content: start;
          align-items: center;
          border: 0px;
          width: 100%;

        }

                fieldset.quantity{

          justify-content: center;


        }





@keyframes fadein {
  from{
    opacity: 0;
    transform: scale(0)
  }
  to{
    opacity: 1;
    transform: scale(1);

  }
}

@media only screen and (max-width:768px) {
  div.category{
    width: 80%;
  }

  div.invisible_section{
    width: 20%;
  }
  .category_header{
   font-size: 20px;
  }

  .x-shape::before,
.x-shape::after {
  width: 3px;
  height: 30%;
}

.sidenav_toggle{
gap: 3px;
}


.sidenav_toggle>span:nth-of-type(1){
  width: 30px;
  height: 3px;
}

.sidenav_toggle>span:nth-of-type(2){
  width: 30px;
  height: 3px;
}

.sidenav_toggle>span:nth-of-type(3){
  width: 30px;
  height: 3px;
}

div.category>form>button>a{
  width: 90%;
}

a.cart>svg{
width: 20px;
height: 20px;
}

a.cart>p{
  bottom: 2px;
  right: 2px;
  font-size: 12px;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

/* index style starts */
header.index-header, div.background{
  
  min-width: 100vw;
  height: 88vh;
  display: flex;
  color: white;
}

header.index-header>h2{
  font-size: 18px;
}

header.index-header>h4{
  font-size: 18px;
}



.card-image{
  width: 95%;
}

.card{
  max-height: 40vh;
  max-width: 40vw;
  min-width: 40vw;

}

.card-description{
  font-size: 15px;
}

ul.testimonies-wrapper{
  justify-content: start;
  padding: 10px;
}

li.testimony{
min-width: 90vw;
max-width: 90vw;



}

li.testimony>h4{
 font-size: 18px;
}

.testimonies>h2{
  font-size: 20px;
  margin-bottom: 30px;
}

section.testimonies>.scroll-controller{
  top: 90%;
}

        div.prod{

            width: 95%;
            align-items: center;
            justify-content: center;
        }

                li.single-product{
            flex-direction: column;
            text-align: center;
        }

         li.single-product>img{
            width:70%;
          
         }


          form.product-form{
            width: 100%;
        }
}